body {
  padding: 48px;
}

/* .inline {
    margin-right: 96px;
}

.numeros {
  display: flex;
  letter-spacing: 10px;
}

.sintaxis {
  display: ;
}

.sintaxis-numeros {
    margin-right: 96px;
}

fieldset {
  width: 100px;
  display: inline;

}

.puntuar-manuscrito-form {
  margin-top: 48px;
  vertical-align: auto;
}

h3 {
  display: block;
  background-color: coral;
  margin: 24px 0;
  padding-left: 12px;
}

textarea[name="comentarios"] {
  height: 259px;
}

.manuscritos-crud button {
  background-color: ghostwhite;
} */

.category__container {
  margin-top: 64px;
}

.category__container--main {
  display: flex;
}

.score-buttons__container {
  display: flex;
  flex-direction: column;
}

.score-buttons__container button {
  width: 100px;
  margin-bottom: 8px;
  margin-right: 48px;
}

.comments__container {
  height:224px;
}

.comments__container textarea {
  height: 100%;
  margin-left: 150px;
}


input[type="radio"] {
  display: none;
}

label {
  color: grey;
  border: 1px solid;
  width: 214px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
 background-color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

#chartContainer {
  max-width: 450px;
  position: fixed;
}

#aside {
  float: right;
  position: relative;
  right: 30%; 
}